<!DOCTYPE HTML>
<html>
{% load static %}
<head>
    <title>Bid Beaverss</title>
    <link href="{%static 'web/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{%static 'web/js/jquery-1.11.0.min.js' %}"></script>
    <!-- Custom Theme files -->
    <link href="{%static 'web/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>

    </script>
    <meta name="keywords" content="AN Auction House for Selling an Buying Products according to thier taste"/>
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{%static 'web/js/move-top.js' %}"></script>
    <script type="text/javascript" src="{%static 'web/js/easing.js' %}"></script>
    <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});

    </script>
</head>

<body>
<!-- //end-smoth-scrolling -->
<!--header start here-->
<div class="header">
    <div class="container">
        <div class="header-main">
            <div class="logo">
                <a href="/"> <img src="{%static 'images/log0_2.png' %}" alt="" title=""> <b></b>BidBeavers</a>
            </div>
            <div class="head-right">
                <div class="top-nav">
                    <span class="menu"> <img src="{%static 'web/images/icon.png' %}" alt=""/></span>
                    <ul class="res">
                        <li><a href="/">Home</a></li>
                        <li><a href="http://127.0.0.1:8000/about/">About Us</a></li>
                        <!--<li><a href="blog.html">Blog</a></li>-->
                        <li><a class="active" href="#">Contact</a></li>
                        <div class="clearfix"></div>
                    </ul>
                    <!-- script-for-menu -->
                    <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.res" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });

                    </script>
                    <!-- /script-for-menu -->
                </div>

                <div class="social">
                    <ul>
                        <li><a class="fa" href="#"> </a></li>
                        <li><a class="tw" href="#"> </a></li>
                        <li><a class="p" href="#"> </a></li>
                    </ul>
                </div>
                <!--
            <div class="search-box">
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Search" type="search" name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"> </span>
                    </form>
               </div>
            </div>-->
                <div class="clearfix"></div>
                <!-- search-scripts -->
                <script src="{%static 'web/js/classie.js' %}"></script>
                <script src="{%static 'web/js/uisearch.js' %}"></script>
                <script>
							new UISearch( document.getElementById( 'sb-search' ) );

                </script>
                <!-- //search-scripts -->
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--header end here-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home </a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
        <!--
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>-->
    </ol>
</nav>
<!--contact start here-->
<div class="contact">
    <div class="contact-main">
        <div class="container">
            <div class="contact-top">
                <h3>CONTACT US</h3>
                <p>Feel Free to contact with us | You can ShareAny Problem with us without Any Hesitation | </p>
            </div>
            <div class="contact-bottom">

                <form id="contact_form" action="http://127.0.0.1:8000/contact_sent/" method="post"
                      enctype="multipart/form-data">
                    <div class="col-md-7 contact-left">
                        {% csrf_token %}
                        <p>Name</p>
                        <input type="text" id="nam" name="nam" required>
                        <p>E-mail</p>
                        <input type="text" id="email" name="email" required>
                        <p>Subject</p>
                        <input type="text" id="subject" name="subject">
                        <p>Phone</p>
                        <input type="text" id="phone" name="phone" required>
                    </div>
                    <div class="col-md-5 contact-right">
                        <p>Messages</p>
                        <textarea id="message" name="message" required> </textarea>
                        <p style="font-style: italic;color: #761c19">*Upload Related Document If Required</p>
                        <input type="file" id="filee" name="filee">
                        <input type="submit" value="Send">
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--contact end here-->
<!--map start here-->
<div class="map">
    <div class="container">
        <div class="col-md-7 map-left">
            <h3>CONTACT INFO</h3>
            <P>BidBeaverss Developement Team.</P>
            <div class="addre">
                <h4>ADDRESS</h4>
                <p>Address : 10A, North Pole Road, W10, 6QL</p>
                <p>phone : +44-7426-470147</p>
                <p>Email: musharafali16@@gmail.com</p>
           </div>
        </div><!--
		<div class="col-md-5 map-right">
			<iframe src="https://maps.app.goo.gl/HofXkdFYtQR18xW56"> </iframe>
	   </div>-->
    </div>
</div>
<!--map end here-->
<!--footer start here-->
<!--<div class="footer">-->

<!--    <div class="copyright">-->
<!--        <div class="container">-->
<!--            <div class="copy-main">-->
<!--                <div class="copy-left">-->
<!--                    <p>Designed By:UOG_SKT_Developers</p>-->
<!--                </div>-->
<!--                <div class="copy-right">-->
<!--                    <ul>-->
<!--                        <li><a href="/">Home</a></li>-->
<!--                        /-->
<!--                        <li><a href="/about/">About</a></li>-->
<!--                        /-->
<!--                        <li><a href="contact/">Contact</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--footer end here-->
</body>
</html>