

<!DOCTYPE HTML>
<html>
<head>
<title>Auction A Real estate category Flat bootstrap Responsive  Website Template | Single :: w3layouts</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="Auction Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
</head>
<body>
<!-- //end-smoth-scrolling -->
<!--header start here-->
<div class="header">
	<div class="container">
		<div class="header-main">
			<div class="logo">
				<a href="index.html"> <img src="images/logo.png" alt="" title=""> </a>
			</div>
			<div class="head-right">
			  <div class="top-nav">
					<span class="menu"> <img src="images/icon.png" alt=""/></span>
				<ul class="res">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About Us</a></li>
				
					<li><a href="contact.html">Contact</a></li>

					<li><a class="active" href="Login/index.html">Login</a></li>
				<div class="clearfix"> </div>
				</ul>
				<!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.res" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
			<!-- /script-for-menu -->
			 </div>
		    
			<div class="social">
				<ul >
					<li><a class="fa" href="#"> </a></li>
					<li><a class="tw" href="#"> </a></li>
					<li><a class="p" href="#"> </a></li>
				</ul>
				</div>
				
			<div class="search-box">
				<div id="sb-search" class="sb-search">
					<form>
						<input class="sb-search-input" placeholder="Search" type="search" name="search" id="search">
						<input class="sb-search-submit" type="submit" value="">
						<span class="sb-icon-search"> </span>
					</form>
			   </div>
			</div>
			<div class="clearfix"> </div>
			   <!-- search-scripts -->
					<script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
			  <!-- //search-scripts -->
		</div>
		
		<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--header end here-->
<!--blog start here-->
<div class="blog">
	<div class="container">
		<div class="blog-main">
			<div class="col-md-9 blog-left">
				<div class="blog-grids">
					<a href="#"><img src="images/blog1.jpg" alt=""></a>
					<div class="blog-detail">
						<a href="#"><h3>Yesurprise Fashion Silicone Blue Binary DOT Unisex Auction</h3></a>
						<p>Brand, Seller, or Collection Name Yesurprise<br>
							Part Number 038277<br>
							Model Year 2012<br>
							Item Shape rectangle<br>
							Display Type Analog and digital<br>
							Case material Stainless Steel<br>
							Case diameter 3.80 centimeters</p>
							
					</div>
					<div class="data-line">
			    	<ul>
			    		</ul>
			    </div>
			   <div class="single-commemts">
			   	<div class="col-md-2 user">
							<a href="#"><img src="images/user.png" alt=""/></a>
						</div>
						<div class="col-md-10 user-comment">
							<a href="#"><h4>Hamza Usman</h4></a>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
							

							<p>Total Sale:56 </p>
							
							
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
						    
							
							<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star 
								checked"></span>
								<span class="fa fa-star"></span>
						    <div class="user-bwn">
						    	<a href="#"> Report</a>
							</div>
							<style>.checked {
								color: orange;
							  }</style>
							


						</div>
                  <div class="clearfix"> </div>
			   </div>
			   <div class="magsingle-contact">
			   	<h3>Leave A Comment</h3>
			    	<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"/>
			    	<input type="text"  class="no-mar" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"/>
			    	<textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}"/>Message</textarea>
			    	<input type="submit"  value="Submit Comment" />
			   </div>
			</div>

				</div>
			</div>
			<div class="col-md-3 blog-right">
				<div class="blog-cate">
				<h3>									<p class="auction-bid"><span class="auction-price current-bid" data-auction-id="2340" data-bid="250" data-status="running"><span class="current auction">Current bid:</span> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>250/span></span> </p></h3>
				<ul>
					<div class="summary entry-summary">

							<div itemprop="description">
				
					
				
				</div>



				

				<script>
					// Set the date we're counting down to
					var countDownDate = new Date("June 4, 2019 15:37:25").getTime();
					
					// Update the count down every 1 second
					var x = setInterval(function() {
					
						// Get todays date and time
						var now = new Date().getTime();
							
						// Find the distance between now and the count down date
						var distance = countDownDate - now;
							
						// Time calculations for days, hours, minutes and seconds
						var days = Math.floor(distance / (1000 * 60 * 60 * 24));
						var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
						var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
						var seconds = Math.floor((distance % (1000 * 60)) / 1000);
							
						// Output the result in an element with id="demo"
						document.getElementById("demo").innerHTML = days + "d " + hours + "h "
						+ minutes + "m " + seconds + "s ";
							
						// If the count down is over, write some text 
						if (distance < 0) {
							clearInterval(x);
							document.getElementById("demo").innerHTML = "EXPIRED";
						}
					}, 1000);
					</script>  
		 <style>
			.bidbox{	 
				 background-color: #1F2C45;
color: #fff
			} 
				 
				 </style>				


					
				<p class="auction-condition">Item condition:<span class="curent-bid"> New</span></p>
				
							
						
					<div class="auction-time" id="countdown">Time left: 
					
						<p id="demo"></p> <br>
								</p>
				
									<p class="auction-bid"><span class="auction-price current-bid" data-auction-id="2340" data-bid="6" data-status="running"><span class="current auction">Current bid:</span> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">250$</span></span> </p>
							
											<p class="reserve hold" data-auction-id="2340">Reserve price has not been met</p>
								
											
											<p class="reserve hold" data-auction-id="2340">Number of Bidders: 1</p> 
											<p class="reserve hold" data-auction-id="2340">Starting Bid: 200$: </p>
							
										
				
							
												
								<form class="auction_form cart" method="post" enctype="multipart/form-data" data-product_id="2340">
							
										
							<input type="hidden" name="bid" value="2340">	
								
								<div class="quantity buttons_added">
									 <input type="button" value="+" class="plus">		 	
									<input type="number" name="bid_value" data-auction-id="2340" value="250" min="7" step="any" size="3" title="bid" class="input-text qty  bid text left">
									<input type="button" value="-" class="minus">
								</div>	
								<br> <br> 
								<button onclick="myFunction()">Bid</button>


								<script>
									function myFunction() {
									  alert("Please Login to user your account");
									}
									</script>
										  
							 <input type="hidden" name="place-bid" value="2340">
							<input type="hidden" name="product_id" value="2340">
							 
									</form>
						
								<br> <br>
							
						
					</div>			 	
				
				
				
				<form class="buy-now cart" method="post" enctype="multipart/form-data" data-product_id="2340">
					
					<input type="hidden" name="add-to-cart" value="2340">
				
				
					<div>
						<input type="hidden" name="add-to-cart" value="2340">
						<input type="hidden" name="product_id" value="2340">
					</div>
				
					
				</form>
				
				
					</div>
				</ul>
			</div>
			<div class="blog-post">
				<h3>Recommendations</h3>
				<div class="ftr-gd4-img">
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f1.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f2.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f3.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f4.jpg" alt=""></a></div>
				  <div class="clearfix"> </div>
				</div>
				<div class="ftr-gd4-img">
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f5.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f6.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f7.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f8.jpg" alt=""></a></div>
				  <div class="clearfix"> </div>
				</div>
				<div class="ftr-gd4-img">
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f9.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f10.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f11.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f12.jpg" alt=""></a></div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			</div>
		 <div class="clearfix"> </div>
		</div>
</div>
<!--blog end here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-3 footer-grid">
				<h3>About This Theme</h3>
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.account of the system.</p>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>Recents Posts</h3>
			  <div class="ftr-sub-gd">
				<div class="col-md-4 ftr-gd2-img">
					<a href="#"><img src="images/s1.jpg" alt=""></a>
				</div>
				<div class="col-md-8 ftr-gd2-text">
						<a href="#"><h4>How to Have The Best Vacation</h4></a>
						<a href="#"><p>Mar 3rd,2015</p></a>
				</div>
				<div class="clearfix"> </div>
			  </div>
			  <div class="ftr-sub-gd">
				<div class="col-md-4 ftr-gd2-img">
					<a href="#"><img src="images/s2.jpg" alt=""></a>
				</div>
				<div class="col-md-8 ftr-gd2-text">
						<a href="#"><h4>How to Have The Best Vacation</h4></a>
						<a href="#"><p>Mar 3rd,2015</p></a>
				</div>
				<div class="clearfix"> </div>
			  </div>
			  <div class="ftr-sub-gd">
				<div class="col-md-4 ftr-gd2-img">
					<a href="#"><img src="images/s3.jpg" alt=""></a>
				</div>
				<div class="col-md-8 ftr-gd2-text">
						<a href="#"><h4>How to Have The Best Vacation</h4></a>
						<a href="#"><p>Mar 3rd,2015</p></a>
				</div>
				<div class="clearfix"> </div>
			  </div>
		   </div>
			<div class="col-md-3 footer-grid">
				<h3>Categories</h3>
				<ul>
					<li><a href="#">Featured</a></li>
					<li><a href="#">General</a></li>
					<li><a href="#">Lorem Ipsum</a></li>
					<li><a href="#">literature</a></li>
					<li><a href="#">Videos</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>Recent Projects</h3>
				<div class="ftr-gd4-img">
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f1.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f2.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f3.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f4.jpg" alt=""></a></div>
				  <div class="clearfix"> </div>
				</div>
				<div class="ftr-gd4-img">
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f5.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f6.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f7.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f8.jpg" alt=""></a></div>
				  <div class="clearfix"> </div>
				</div>
				<div class="ftr-gd4-img">
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f9.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f10.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f11.jpg" alt=""></a></div>
				    <div class="col-md-3 ftr-gd4-1"><a href="#"><img src="images/f12.jpg" alt=""></a></div>
				  <div class="clearfix"> </div>
				</div>
			</div>
		<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copyright">
	<div class="container">
		<div class="copy-main">
			<div class="copy-left">
				<p>Design By<a href="http://w3layouts.com/" target="-blank"> W3layouts</a></p>
			</div>
			<div class="copy-right"> 
				<ul>
					<li><a class="active" href="index.html">Home</a></li>/
					<li><a href="about.html">About</a></li>/
					<li><a href="blog.html">Blog</a></li>/
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
<!--footer end here-->
</body>
</html>