

<!DOCTYPE HTML>
<html>
<head>
    {% load static %}
<title>BidBeaverss| Auction Detail</title>
<link href="{%static 'web/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{%static 'web/js/jquery-1.11.0.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{%static 'web/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="Auction Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!-- start-smoth-scrolling -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<style>
        .thumbnail {
    height:300px;
    width:100%;
}
    </style>
</head>
<!--<body style="background-color:#F6F4F3;">-->
<body>
<!-- //end-smoth-scrolling -->
<!--header start here-->
<div class="header">
	<div class="container">
		<div class="header-main">
			<div class="logo">
		<a href=""> <img src="{%static 'images/log0_2.png' %}" alt="" title=""> <b></b>BidBeavers</a>
			</div>
			<div class="head-right">
			  <div class="top-nav">
					<span class="menu"> <img src="{%static 'web/images/icon.png' %}" alt=""/></span>
				<ul class="res">
					<li>
                    <a  href="/goprofile/">Dashboard</a></li>
					<li><a href="/ongoingAuctions/"> Ongoing Auctions    </a></li>
                    <li><a href="/pendingAuctions/"> Pending Auctions   </a>
					</li>

                    <li ><a  href="{% url 'logout' %}">Logout</a></li>

				</ul>
				<!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.res" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
			<!-- /script-for-menu -->
			 </div>

		</div>

		</div>
	</div>
</div>
<!--blog start here-->
<div class="blog">
	<div class="container">
		<div class="blog-main">
			<div class="col-md-9 blog-left">
				<div class="blog-grids">
					{% if messages %}
							{% for message in messages %}
							<div class="alert {{ message.tags }} alert-dismissible" role="alert">
								<button type="button" style="color:red" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<font color="blue">{{ message }}</font>
							</div>
							{% endfor %}
							{% endif %}

					{% for item in param %}

					<a href="#"><img src="{{item.image.url}}" class="thumbnail" width="100%"  alt=""></a>
					<div class="blog-detail">
						{% if maxbid %}
						<h3><p class="auction-bid"><span class="auction-price current-bid" data-auction-id="2340" data-bid="6" data-status="running"><span class="current auction"><b><font color="black">Maximum bid:</font></b></span> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span><font color="black">$ {{maxbid}}</font></span></span> </p></h3>
					{% else %}
						<h3><p class="auction-bid"><span class="auction-price current-bid" data-auction-id="2340" data-bid="6" data-status="running"><span class="current auction"><b><font color="black">Maximum bid:</font></b></span> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span><font color="black">$ 0.0</font></span></span> </p></h3>
					{% endif %}
		{% for item  in param %}
						<h4 class="reserve hold" data-auction-id="2340"><b><font color="black">Number of Bidders:</font></b><font color="black"> {{item.nofbidder}}</font></h4>
						<p class="reserve hold" data-auction-id="2340"><font color="black">Starting Bid: $ {{item.minbid}}:</font> </p>{% endfor %}
					<a href="#"><h3>{{item.prod_title}}</h3></a>
						<p>Product Description : {{item.prod_description}}<br>
							Product Price : ${{item.prod_price}}<br>
							Minimum Bid : ${{item.minbid}}<br>
							Location : {{item.prod_loc}}<br>
							{% if item.prod_status == 'S' %}
							Auction Status : Started
							{% else %}
							Auction Status : Not Started
							{% endif %}
							<br>
							{% if item.auction_status == 'F' %}
							Auction Finished: Auction has been Finished
							{% else %}
							Auction Finished: Auction has not Finished
							{% endif %}
							<br>
							</p>

					</div>
{% endfor %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="page-header">Comments</h2>
        <section class="comment-list">
          <!-- First Comment -->
{% for cmt in comment %}
          <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">

             {% for item in param %}   <img class="img-responsive" src="{{item.image.url}}" />{% endfor %}
                <figcaption class="text-center">{{cmt.user.username}}</figcaption>

            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i> {{cmt.user.username}}</div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i>{{cmt.created_date}}</time>
                  </header>
                  <div class="comment-post">
                    <p>
                      {{cmt.message}}
                    </p>
                  </div>
                  <p class="text-right"><a href="{{item.get_remove_comment_url}}" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> Delete</a></p>

                </div>
              </div>
            </div>
          </article>{% endfor %}

        </section>
    </div>
  </div>
</div>

			</div>

				</div>
			</div>
			<div class="col-md-3 blog-right">
				<div class="blog-cate">
						
					</div>			 	
				
				
				

				
				
					</div>
				</ul>
			</div>


		</div>
</div>
<!--blog end here-->


</body>
</html>