

<!DOCTYPE HTML>
<html>
<head>
    {% load static %}
<title>Auction House</title>
<link href="{%static 'web/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{%static 'web/js/jquery-1.11.0.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{%static 'web/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="Auction Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>

	<style>
        .thumbnail {
    height:250px;
    width:100%;
}
    </style>
</head>
<body>
<!-- //end-smoth-scrolling -->
<!--header start here-->
<div class="header">
	<div class="container">
		<div class="header-main">
			<div class="logo">
				<a href="index.html"> <img src="{%static 'web/images/logo.png' %}" alt="" title=""> </a>
			</div>
			<div class="head-right">
			  <div class="top-nav">
					<span class="menu"> <img src="{%static 'web/images/icon.png' %}" alt=""/></span>
				<ul class="res">
					<li>
                    <a  href="/goprofile">Dashboard</a></li>
					<li><a href="/ongoingAuctions"> On Auctions    </a></li>
                    <li><a href="/pendingAuctions"> Pending Auctions   </a></li>
                    <li ><a  href="{% url 'logout' %}">Logout</a></li>

				</ul>
				<!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.res" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
			<!-- /script-for-menu -->
			 </div>

		</div>

		</div>
	</div>
</div>
<!--header end here-->
<!--blog start here-->
<div class="blog">
	<div class="container">
		<div class="blog-main">
			<div class="col-md-9 blog-left">
				<div class="blog-grids">
					{% for item in param %}
					<a href="#"><img src="media/{{item.image}}" class="img-thumbnail" width="100%"  alt=""></a>
					<div class="blog-detail">
						<a href="#"><h3>{{item.prod_title}}</h3></a>
						<p>Product Description : {{item.prod_description}}<br>
							Product Price : ${{item.prod_price}}<br>
							Minimum Bid : ${{item.minbid}}<br>
							Location : {{item.prod_loc}}<br>
							{% if item.prod_status == 'S' %}
							Auction Status : Started
							{% else %}
							Auction Status : Not Started
							{% endif %}
							<br>
							{% if item.auction_status == 'F' %}
							Auction Finished ?? Auction has been Finished
							{% else %}
							Auction Finished ?? Auction has not Finished
							{% endif %}
							<br>
							</p>

					</div>
					<div class="data-line">
			    	<ul>
			    		</ul>
			    </div>


			</div>

				</div>
			</div>

		</div>
</div>
{% endfor %}


</body>
</html>